@model IPageViewModel<SitePageData>
<div class="row footerrow">
    <div class="span12 footer">
        <hr />
        <div class="row">
            <div class="span3">
                <h3>@Html.Translate("/footer/aboutus")</h3>
                @Html.PropertyFor(x => x.Layout.AboutUsActionUrl)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/contactus")</h3>
                @Html.PropertyFor(x => x.Layout.ContactUsActionUrl)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/news")</h3>
                @Html.PropertyFor(x => x.Layout.NewsPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/careers")</h3>
                @Html.PropertyFor(x => x.Layout.CareersActionUrl)
                <ul>
                    <li>
                        @if (Model.Layout.LoggedIn)
                        {
                            @Html.ActionLink(Html.Translate("/footer/logout"), "Logout", new { language = @Model.CurrentPage.Language.Name })
                        }
                        else
                        {
                            if (!Model.Layout.IsInReadonlyMode)
                            {
                                <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                            }
                        }
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
